input {
  width:300px;
  border: 1px solid burlywood;
  Margin: 20px;
  font-size: 40px;
  color:chocolate;
  padding-left: 20px;
}

input:focus {
  border-radius: 20px;
  outline-color: transparent;
}

input.not-english {
  background-color: crimson;
  color:white;
}
