<div class="col-xs-6 form-root">
  <form [formGroup]="movieForm">
    <div class="form-group ">
      <label>Movie Name</label>
      <input [formControlName]="'name'"
      class="form-control" type="text" />
      <span class="help">Name is required</span>
    </div>
    <div class="form-group">
      <label>image URL</label>
      <input [formControlName]="'imageUrl'"
       class="form-control" type="text" />
      <span class="help">URL is required</span>
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="onSubmit()">OK</button>
    </div>
  </form>
</div>
